body {
  color: #777;
}

.pure-img-responsive {
  max-width: 100%;
  height: auto;
}

.logo-grid {
  padding-top: 20px
}

.logo-small {
  padding: 2px
}

.banner {
  max-height: 400px
}

.logo-container {
  display: flex; /* Magic begins */
  flex-direction: column;
  justify-content: center; /* Center in main axis */
  align-items: center; /* Center in cross axis */
  flex-flow: row wrap;
}

.logo-meta {
  align-self: flex-end;
}
/*
Add transition to containers so they can push in and out.
 */
  #layout {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }

  /*
  This is the parent `<div>` that contains the menu and the content area.
   */
  #layout {
    position: relative;
    left: 0;
    padding-left: 0;
  }
  #layout.active #menu {
    left: 150px;
    width: 150px;
  }

  #layout.active .menu-link {
    left: 150px;
  }
  /*
  The content `<div>` is where all your content goes.
   */

  .logo {
    max-width: 1200;
    text-align: center;
  }

  .content {
    margin: 0 auto;
    padding: 2em 2em;
    max-width: 1400;
    margin-bottom: 50px;
    line-height: 1.6em;
  }

  .header {
    margin: 0;
    color: #333;
    text-align: center;
    padding: 0.5em 2em 0;
    border-bottom: 1px solid #eee;
    max-height: 400px;
  }

  .header h1 {
    margin: 0.2em 0;
    font-size: 3em;
    font-weight: 300;
  }
  .header h2 {
    font-weight: 300;
    color: #ccc;
    padding: 0;
    margin-top: 0;
  }

  .content-subhead {
    margin: 50px 0 20px 0;
    font-weight: 300;
    color: #888;
  }


  /* -- Responsive Styles (Media Queries) ------------------------------------- */

  /*
  Hides the menu at `48em`, but modify this based on your app's needs.
   */
  @media (min-width: 48em) {

    .header,
    .content {
      padding-left: 2em;
      padding-right: 2em;
    }

    #layout {
      padding-left: 150px; /* left col width "#menu" */
      left: 0;
    }

    #layout.active .menu-link {
      left: 150px;
    }
  }

  @media (max-width: 48em) {
    /* Only apply this when the window is small. Otherwise, the following
    case results in extra padding on the left:
     * Make the window small.
     * Tap the menu to trigger the active state.
     * Make the window large again.
     */
  #layout.active {
    position: relative;
    left: 150px;
  }
}
